body {
    background-color: rgb(211, 211, 211);
}

/* table-styles.css */

/* Table styling */
.table-bordered {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

/* Header styling */
.table-bordered th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* Row and cell styling */
.table-bordered td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}